html {
  /* zoom: 200%; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
tr,
td,
a {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

table tr {
  height: 20px;
}

thead td {
  text-align: center;
}

.slider {
  width: 20px;
  height: 200px;
  margin: 0 15px;
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  cursor: grab;
}

/* .track {
  background: #ddd;
  border-radius: 5px;
  width: 100%;
  height: 100%;
} */
